{
  "Get-AzSpool+[NoContext]+List+$GET+https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/providers/Microsoft.SpoolService/spools?api-version=2019-10-10-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/providers/Microsoft.SpoolService/spools?api-version=2019-10-10-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/spool-ci-test/providers/Microsoft.SpoolService/spools/runner-prev\",\"name\":\"runner-prev\",\"type\":\"Microsoft.SpoolService/spools\",\"location\":\"westus2\",\"properties\":{\"provisioningState\":\"Succeeded\",\"hostName\":\"runner-prev.westus2.spool.azure.net\"}},{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/spool-test/providers/Microsoft.SpoolService/spools/myspool2\",\"name\":\"myspool2\",\"type\":\"Microsoft.SpoolService/spools\",\"location\":\"westus2\",\"tags\":{\"rg\":\"spool-test\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"hostName\":\"myspool2.westus2.spool.azure.net\"}},{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/spool-samples/providers/Microsoft.SpoolService/spools/spool-sample\",\"name\":\"spool-sample\",\"type\":\"Microsoft.SpoolService/spools\",\"location\":\"westus2\",\"properties\":{\"provisioningState\":\"Succeeded\",\"hostName\":\"spool-sample.westus2.spool.azure.net\"}},{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/mh-test-spool-rg/providers/Microsoft.SpoolService/spools/mh-test-spool\",\"name\":\"mh-test-spool\",\"type\":\"Microsoft.SpoolService/spools\",\"location\":\"westus2\",\"tags\":{},\"properties\":{\"provisioningState\":\"Succeeded\",\"hostName\":\"mh-test-spool.westus2.spool.azure.net\",\"optionalFeatures\":[]}},{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rajat-test/providers/Microsoft.SpoolService/spools/spool-test\",\"name\":\"spool-test\",\"type\":\"Microsoft.SpoolService/spools\",\"location\":\"westus2\",\"tags\":{},\"properties\":{\"provisioningState\":\"Succeeded\",\"hostName\":\"spool-test.westus2.spool.azure.net\",\"optionalFeatures\":[]}},{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/L1Group/providers/Microsoft.SpoolService/sp[...]
