{
  "New-AzSpool+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolCreated-91xmph3?api-version=2019-10-10-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolCreated-91xmph3?api-version=2019-10-10-preview",
      "Content": "{\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"test\": \"powershell\"\r\n  }\r\n}",
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolCreated-91xmph3\",\"name\":\"testSpoolCreated-91xmph3\",\"type\":\"Microsoft.SpoolService/spools\",\"location\":\"westus2\",\"tags\":{\"test\":\"powershell\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"hostName\":\"testspoolcreated-91xmph3.westus2.spool.azure.net\",\"optionalFeatures\":[]}}"
    }
  },
  "New-AzSpool+[NoContext]+CreateExpanded+$DELETE+https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolCreated-91xmph3?api-version=2019-10-10-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolCreated-91xmph3?api-version=2019-10-10-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "10" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  }
}