{
  "New-AzSpoolKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolExisting1-8lje6o/listKeys?api-version=2019-10-10-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolExisting1-8lje6o/listKeys?api-version=2019-10-10-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "11" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"primaryKey\":\"hgRLW36xd4UdPjwKATtkiEnv7KL2fntLtO49urk/AVVPv0PHz2MlCgqjNGkcCvgjpUUnN4Xx5gOl7ymRFjL32g==\",\"secondaryKey\":\"GVMsnslqAc/X+CN2rY7OENXRynJHfjwlwklKRWFV/D7MCkEHFXRB0H1z1t/U0pxoKWfHteOLdSmnDDHsoOxWeg==\",\"primaryConnectionString\":\"endpoint=https://testspoolexisting1-8lje6o.westus2.spool.azure.net/;accesskey=hgRLW36xd4UdPjwKATtkiEnv7KL2fntLtO49urk/AVVPv0PHz2MlCgqjNGkcCvgjpUUnN4Xx5gOl7ymRFjL32g==;issuer=subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolExisting1-8lje6o\",\"secondaryConnectionString\":\"endpoint=https://testspoolexisting1-8lje6o.westus2.spool.azure.net/;accesskey=GVMsnslqAc/X+CN2rY7OENXRynJHfjwlwklKRWFV/D7MCkEHFXRB0H1z1t/U0pxoKWfHteOLdSmnDDHsoOxWeg==;issuer=subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolExisting1-8lje6o\"}"
    }
  },
  "New-AzSpoolKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolExisting1-8lje6o/regenerateKey?api-version=2019-10-10-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/d80851b9-692f-4204-a0c0-df765df1ebd0/resourceGroups/rg-spool-powershell-7keuqp/providers/Microsoft.SpoolService/spools/testSpoolExisting1-8lje6o/regenerateKey?api-version=2019-10-10-preview",
      "Content": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"primaryKey\":\"pSByCMl705Ni9M2[...]
