{
  "ClusterPoolOperations+[NoContext]+New AzHdInsightOnAksClusterPool+$GET+https://management.azure.com/subscriptions/ 00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West US 3/availableClusterPoolVersions?api-version=2023-06-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ 00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West%20US%203/availableClusterPoolVersions?api-version=2023-06-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "8727a631-3c32-4942-b338-cd666351421a" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/ 00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West US 3/availableclusterpoolversions/1.0\",\"name\":\"1.0\",\"properties\":{\"clusterPoolVersion\":\"1.0\",\"aksVersion\":\"1.26\",\"isPreview\":false}}]}"
    }
  },
  "ClusterPoolOperations+[NoContext]+New AzHdInsightOnAksClusterPool+$PUT+https://management.azure.com/subscriptions/ 00000000-0000-0000-0000-000000000000/resourceGroups/PStestGroup/providers/Microsoft.HDInsight/clusterpools/ps-test-pool-operations?api-version=2023-06-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/ 00000000-0000-0000-0000-000000000000/resourceGroups/PStestGroup/providers/Microsoft.HDInsight/clusterpools/ps-test-pool-operations?api-version=2023-06-01-preview",
      "Content": "{\r\n  \"location\": \"West US 3\",\r\n  \"properties\": {\r\n    \"clusterPoolProfile\": {\r\n      \"clusterPoolVersion\": \"1.0\"\r\n    },\r\n    \"computeProfile\": {\r\n      \"vmSize\": \"Standard_E4s_v3\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"1400994f-0000-4d00-0000-65000be60000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "a68ba96b-2084-498b-9c7e-fe168fb47c64" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS3/operationStatuses/4af512dc-ef6d-42a1-aed1-473b761477b9*36968A2370609D234A12E99976D3EA4CCC795D6ECB1B440B2510E58366C6AC77?api-version=2023-06-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ 00000000-0000-0000-0000-000000000000/resourceGroups/PStestGroup/providers/Microsoft.HDInsight/clusterpools/ps-test-pool-operations\",\"name\":\"ps-test-pool-operations\",\"type\":\"microsoft.hdinsight/clusterpools\",\"location\":\"West US 3\",\"systemData\":{\"createdBy\":\"v-yuchenli@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-09-12T06:57:38.0949439Z\",\"lastModifiedBy\":\"v-yuchenli@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-09-12T06:57:38.0949439Z\"},\"properties\":{\"clusterPoolProfile\":{\"clusterPoolVersion\":\"1.0\"},\"computeProfile\":{\"vmSize\":\"Standard_E4s_v3\"},\"provisioningState\":\"Accepted\"}}"
    }
  },
  "ClusterPoolOperations+[NoContext]+New AzHdInsightOnAksClusterPool+$GET+https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS3/operationStatuses/4af512dc-ef6d-42a1-aed1-473b761477b9*36968A2370609D234A12E99976D3EA4CCC795D6ECB1B440B2510E58366C6AC77?api-version=2023-06-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS3/operationStatuses/4af512dc-ef6d-42a1-aed1-473b761477b9*36968A2370609D234A12E99976D3EA4CCC795D6ECB1B440B2510E58366C6AC77?api-version=2023-06-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "3" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0b0085b6-0000-4d00-0000-65000be50000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.HDInsight/locations/WESTUS3/operationStatuses/4af512dc-ef6d-42a1-aed1-473b761477b9*36968A2370609D234A12E99976D3EA4CCC795D6ECB1B440B2510E58366C6AC77\",\"name\":\"4af512dc-ef6d-42a1-aed1-473b761477b9*36968A2370609D234A12E99976D3EA4CCC795D6ECB1B440B2510E58366C6AC77\",\"resourceId\":\"/subscriptions/ 00000000-0000-0000-0000-000000000000/resourceGroups/PStestGroup/providers/Microsoft.HDInsight/clusterpools/ps-test-pool-operations\",\"status\":\"Accepted\",\"startTime\":\"2023-09-12T06:57:41.8589312Z\"}"
    }
  },
  "ClusterPoolOperations+[NoContext]+New AzHdInsightOnAksClusterPool+$GET+https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS3/operationStatuses/4af512dc-ef6d-42a1-aed1-473b761477b9*36968A2370609D234A12E99976D3EA4CCC795D6ECB1B440B2510E58366C6AC77?api-version=2023-06-01-preview+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/locations/WESTUS3/operatio[...]
