{
  "ClusterOperations+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West US 3/availableClusterVersions?api-version=2023-06-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West%20US%203/availableClusterVersions?api-version=2023-06-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11992" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "c29e41ba-0533-4b64-a86b-412d678041fa" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West US 3/availableclusterversions/flink_1.16.0-1.0.5\",\"name\":\"flink_1.16.0-1.0.5\",\"properties\":{\"clusterVersion\":\"1.0.5\",\"ossVersion\":\"1.16.0\",\"clusterType\":\"Flink\",\"clusterPoolVersion\":\"1.0\",\"isPreview\":false,\"components\":[{\"name\":\"Flink\",\"version\":\"1.16.0\"},{\"name\":\"Hive Metastore\",\"version\":\"3.1.2\"}]}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/West US 3/availableclusterversions/flink_1.16.0-1.0.6\",\"name\":\"flink_1.16.0-1.0.6\",\"properties\":{\"clusterVersion\":\"1.0.6\",\"ossVersion\":\"1.16.0\",\"clusterType\":\"Flink\",\"clusterPoolVersion\":\"1.0\",\"isPreview\":false,\"components\":[{\"name\":\"Flink\",\"version\":\"1.16.0\"},{\"name\":\"Hive Metastore\",\"vers[...]
