{
  "Get-AzHdInsightOnAksAvailableClusterPoolVersion+[NoContext]+Get-AzHdInsightOnAksAvailableClusterPoolVersion+$GET+https://management.azure.com/subscriptions/10e32bab-26da-4cc4-a441-52b318f824e6/providers/Microsoft.HDInsight/locations/west us 2/availableClusterPoolVersions?api-version=2023-06-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/10e32bab-26da-4cc4-a441-52b318f824e6/providers/Microsoft.HDInsight/locations/west%20us%202/availableClusterPoolVersions?api-version=2023-06-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "ca82347e-a4ac-491e-8d88-8084b5f60b7f" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/10e32bab-26da-4cc4-a441-52b318f824e6/providers/Microsoft.HDInsight/locations/west us 2/availableclusterpoolversions/1.0\",\"name\":\"1.0\",\"properties\":{\"clusterPoolVersion\":\"1.0\",\"aksVersion\":\"1.26\",\"isPreview\":false}}]}"
    }
  }
}